%%% -*- mode: erlang -*-
{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.
{edoc_opts, [{preprocess, true}]}.
{require_otp_vsn, "R14"}.
{xref_checks, [undefined_function_calls]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
	{'cowboy', ".*",
	 {git, "git://github.com/extend/cowboy.git", "master"}
	},
	{jsx, ".*",
	 {git, "https://github.com/talentdeficit/jsx.git", "master"}
	},
	{'erlstats',".*",
	 {git, "git://github.com/omarkj/erlstats.git","master"}
	}
]}.
